{% extends 'base.html' %}

{% block title %}
    Physics solver
{% endblock %}

{% block content %}

    <div class="vstack gap-2">
        <h2 class="text-center">Natural language input</h2>

        <form action="solution">

            <div class="vstack gap-2">

                <label for="text-area" class="form-label">Problem text:</label>
                <textarea class="form-control" id="text-area" rows="3" name="text"></textarea>

                <div class="text-center">
                    <button type="submit" class="btn btn-success">Solve</button>
                </div>

            </div>

        </form>

        <h2>Try these examples:</h2>
        <ul>
            {% for example in examples %}
                <li>{{ example.text }}</li>
            {% endfor %}
        </ul>

        <h2>How this works:</h2>
        <ul>
            <li>At first, the text is pre-processed and named entities are recognized.</li>
            <li>Then, the program tries to determine the type of the question.</li>
            <li>If the program guessed the type, an intermediate representation is constructed.</li>
            <li>Then, different algorithms are applied to solve the problem.</li>
            <li>Finally, the solution is presented to the user.</li>
        </ul>
        <p>More details are available in paper: <a href="/no-link">link</a>.</p>
    </div>

{% endblock %}