{% extends 'base.html' %}

{% block title %}
    Physics solver
{% endblock %}

{% block content %}

    <h1>Physics basic problem solver</h1>

    <h2>Natural language input</h2>

    <form action="solution">

        <label for="text-area" class="form-label">Problem text:</label>
        <textarea class="form-control" id="text-area" rows="3" name="text"></textarea>

        <button type="submit" class="btn btn-primary">Solve</button>

    </form>

    <h2>Try these examples:</h2>
    <p>some examples...</p>

    <h2>How this works:</h2>
    <p>some text....</p>

    <p>Author: Ruslan Popov (InAnYan)</p>
    <p>GitHub repository: <a href="https://github.com">link</a></p>

    <p>Made for <a href="http://isc.ontu.edu.ua/">Black Sea Science 2024</a></p>

    <a class="btn btn-primary" href="feedback-improvement" role="button">Feedback improvement</a>

{% endblock %}