{% extends 'base.html' %}

{% block title %}
    Physics solver
{% endblock %}

{% block content %}

    <div class="vstack gap-2">
        <h2 class="text-center">Natural language input</h2>

        <form action="solution">

            <div class="vstack gap-2">

                <label for="text-area" class="form-label">Problem text:</label>
                <textarea class="form-control" id="text-area" rows="3" name="text"></textarea>

                <div class="text-center">
                    <button type="submit" class="btn btn-success">Solve</button>
                </div>

            </div>

        </form>

        <h2>Try these examples:</h2>
        <ul>
            <li>The car is traveling at a speed of 108 kilometers per hour. Represent this speed in meters per second.</li>
            <li>Which speed is greater: 10 meters per second or 10 kilometers per hour?</li>
            <li>Which speed is slower: 72 kilometers per hour or 24 meters per second?</li>
            <li>A sprinter runs at 480 meters per minute, and a boy on a bicycle rides at 27 kilometers per hour. Which of these athletes is moving faster?</li>
            <li>How many times will the speed of wave propagation increase if the wavelength increases by 3 times and the period of oscillation remains unchanged?</li>
            <li>How many times will the moment of a force change if the force is increased by a factor of 8 and the arm of the force is decreased by a factor of 4.</li>
            <li>How many times will the ampere force acting on a conductor with a current placed in a magnetic field increase if the length of the conductor is reduced by 1.5 times, the current in the conductor is reduced by 2 times, and the magnetic induction is increased by 9 times?</li>
            <li>What is the density of a metal, 15 grams of which have a volume of 2 cubic centimeters?</li>
            <li>What is the density of plastic used to make a body weighing 24 grams and having a volume of 20 cubic centimeters?</li>
            <li>What is the optical power of a collecting lens with a focal length of 40 centimeters?</li>
            <li>The light intensity of a point light source is 180 candela. What is the illumination of the floor under this source if it is located at a height of 3 meters?</li>
            <li>The corridor at night is illuminated by a single lamp hanging at a height of 2.5 meters. What is the light intensity of this lamp if the illumination of the floor under it is 40 lux?</li>
            <li>The luminous intensity of a streetlamp is 500 candela. At what height is the lamp located if the illumination of the sidewalk below it is 20 lux?</li>
            <li>The car drove for 40 minutes at a speed of 144 kilometers per hour. How far did the car travel?</li>
            <li>The airplane flew 1200 kilometers in 2 hours. At what speed did the airplane fly?</li>
            <li>A train is traveling at a speed of 180 kilometers per hour. How far does it travel in 2 hours?</li>
            <li>A cyclist is moving at a speed of 400 meters per second. How far will he travel in 5 seconds?</li>
            <li>A rotating bicycle wheel makes 90 revolutions in 0.5 minutes. With what period does the wheel rotate?</li>
            <li>How often does the drum of a washing machine rotate if it makes 1600 revolutions in 2 minutes?</li>
            <li>The shaft of an electric motor rotates at 480 revolutions per minute. What is the period of its rotation?</li>
            <li>The percussion unit of a hammer drill oscillates at a frequency of 2.5 hertz. What is the period of oscillation of the percussion mechanism?</li>
            <li>What is the force of gravity on a girl weighing 50 kilograms?</li>
            <li>What is the force of gravity on a car weighing 800 kilograms?</li>
            <li>What is the weight of a boy if his mass is 60 kilograms?</li>
            <li>What is the weight of a bicycle if its mass is 60 kilograms?</li>
            <li>What is the mass of a body subject to a gravity of 350 newtons?</li>
            <li>What is the work done by a force of 5000 newtons applied to a trolley, if the trolley traveled 150 meters under the action of this force?</li>
            <li>What is the pressure exerted on a 400 square centimeter support by a body whose mass is 12 kilograms?</li>
            <li>To raise a marble column weighing 3.78 tons from the bottom of a lake, 95200 joules of work was done. Determine the depth of the lake.</li>
        </ul>

        <h2>How this works:</h2>
        <ul>
            <li>At first, the text is pre-processed and named entities are recognized.</li>
            <li>Then, the program tries to determine the type of the question.</li>
            <li>If the program guessed the type, an intermediate representation is constructed.</li>
            <li>Then, different algorithms are applied to solve the problem.</li>
            <li>Finally, the solution is presented to the user.</li>
        </ul>
        <p>More details are available in paper: <a href="/no-link">link</a>.</p>
    </div>

{% endblock %}