{% extends 'base.html' %}

{% block title %}
    Solution
{% endblock %}

{% block content %}

    <form action="thanks-report" method="post">{% csrf_token %}
        <div class="vstack gap-2">

            {% if problem_text %}
                <label for="text-area" class="form-label">Problem text:</label>
                <textarea class="form-control" id="text-area" rows="3" name="text"
                          readonly>{{ problem_text }}</textarea>
            {% endif %}

            {% if problem %}
                <label class="form-label">Found problem:</label>
                <p>{{ problem }}</p>
            {% endif %}

            {% if displacy_ents %}
                <a class="btn btn-success col-md-3" data-bs-toggle="collapse" href="#collapseEnts" role="button"
                   aria-expanded="false" aria-controls="collapseEnts">
                    Show recognized entities
                </a>

                <div class="collapse" id="collapseEnts">
                    <div class="card card-body">
                        {{ displacy_ents | safe }}
                    </div>
                </div>
            {% endif %}

            {% if solution %}
                <div class="text-center">
                    <h2>Solution</h2>
                </div>

                <table class="table table-bordered">
                    <tr>
                        <td>
                            <p>Givens:</p>
                            {% for given in solution.givens %}
                                <p>{{ given }}</p>
                            {% endfor %}
                        </td>
                        <td rowspan="2">
                            <p class="text-center">Solution:</p>
                            {% for step in solution.steps %}
                                <p>{{ step }}</p>
                            {% endfor %}

                            <p>Answer: {{ solution.answer }}.</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            {% for unknown in solution.unknowns %}
                                <p>{{ unknown }}</p>
                            {% endfor %}
                        </td>
                    </tr>

                </table>

                <button type="button" class="btn btn-danger col-md-4" data-bs-toggle="modal"
                        data-bs-target="#modalForIncorrect">
                    Report incorrectly solved problem
                </button>

                <a href="/" class="btn btn-primary col-md-4">Go to the main page</a>

                <div class="modal fade" id="modalForIncorrect" tabindex="-1" aria-labelledby="modalForIncorrectLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modalForIncorrectLabel">Report incorrectly solved
                                    problem</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="text-area" class="form-label">Comments (optional):</label>
                                <textarea class="form-control" id="text-area" rows="3" name="comment"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" name="action" value="incorrect">Report</button>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <div class="alert alert-danger">
                    The program was unable to solve this problem.

                    {% if parse_error %}
                        <br>
                        The problem occurred at parsing stage: {{ parse_error }}.
                    {% endif %}

                    {% if solver_error %}
                        <br>
                        The problem occurred at solving stage: {{ solver_error }}.
                    {% endif %}

                    <div class="pt-3"></div>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modalForUnsolved">
                        Report unsolved problem
                    </button>

                    <a href="/" class="btn btn-primary">Go to the main page</a>
                </div>

                <div class="modal fade" id="modalForUnsolved" tabindex="-1" aria-labelledby="modalForUnsolvedLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modalForUnsolvedLabel">Report unsolved problem</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="text-area" class="form-label">Comments (optional):</label>
                                <textarea class="form-control" id="text-area" rows="3" name="comment"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" name="action" value="unsolved">Report</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </form>

{% endblock %}
